{%- if not already -%}
The {{service}} wasn't in your Favorites.
{%- elif response.ok -%}
The [{{service}}]({{href}}) ({{group}}) service is no longer favorited.
{%- else -%}
I'm sorry. I couldn't remove the [{{service}}]({{href}}) ({{group}}) service from your Favorites.
{%- endif -%}
