{%- if not response.ok -%}
I was unable to create the activation key. Please follow the steps [here](/insights/connector/activation-keys).
Here's the error message: {{ response.message }}
{%- else -%}
Great! I've created the activation key. Configure the system's purpose and workloads on the details page for [{{ name }}](/insights/connector/activation-keys/{{name}}).
{%- endif -%}
