{%- if ok -%}
Your request for access to customer account {{account_id}} has been submitted. The customer will be notified shortly.
{%- else -%}
There was an error processing your request. Please try again later.
{%- endif -%}

Future requests can also be made using the form [here](/internal/access-requests).
